.nav{
  background: transparent;
  padding: 20px;

}

.hr{
  border-width: 2px;
  border-color: palegreen;
}


#facte {
  background: url("https://images.unsplash.com/photo-1504700610630-ac6aba3536d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") center top no-repeat fixed;
  background-size: cover;
  padding: 40px 0 ;
  position: relative;
  }
#facte::before {
content: '';
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background: rgba(0, 0, 0, 0.78);
z-index: 0;
}
  
  
  #facte .container {
  position: relative;
  z-index: 10;
  }

  /* Image list Card  */

.card {
  position: relative;
  border: 0px solid black;
  border-radius: 0px;
  background: rgb(0, 0, 0);
}

.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.card:hover .image {
  opacity: 0.3;
  z-index: 100;

}

.card:hover .middle {
  opacity: 1;
}
.p{

  color: white;
  font-weight: bolder;
}

/*  Movie Details Section */
.de{
  margin-top: 60px;
}
.df{
  color: palegreen;
}
.star{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
